<div class="ngdialog-message" ng-init="doc.IsFolder=true">
    <h3>Create Folder</h3>
    <div ng-show="doc.IsFolder">
        <label for="docNodeName">Name of Folder: </label>
        <input type="text" id="docNodeName" name="docName" class="form-control" data-ng-model="doc.Name" placeholder="Document Name">
    </div>
</div>
<div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('Cancel')">Cancel</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(doc)">Save</button>
</div>
