    <div class="ngdialog-message">
        <h3>Create Node</h3>
        <div>
            <label for="docNodeIsFolder">Is Folder? : </label>
            <input type="checkbox" id="docNodeIsFolder" name="docIsFolder" ng-init="doc.IsFolder=true" data-ng-model="doc.IsFolder" placeholder="Document IsFolder" checked>
        </div>
        <div ng-show="doc.IsFolder">
            <label for="docNodeName">Name of Folder/Document: </label>
            <input type="text" id="docNodeName" name="docName" class="form-control" data-ng-model="doc.Name" placeholder="Document Name">
        </div>

        <div class="panel-body" ng-hide="doc.IsFolder">
            <input class="bottom-marg-15" type="file" name="file" file></input>
            <!-- Progress Bar -->
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ uploadProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ uploadProgress }}%;">
                    {{ uploadProgress == 0 ? '' : uploadProgress + '%' }}
                </div>
            </div>
            <a class="btn btn-primary btn-block btn-lg" ng-click="upload(file)">Upload</a>
        </div>
    </div>
    <div class="ngdialog-buttons">
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('Cancel')">Cancel</button>
        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(doc)">Save</button>
    </div>
