
.btn {
    margin-right: 8px;
}
.angular-ui-tree-handle {
    background: none repeat scroll 0 0 #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px;
}
.angular-ui-tree-handle:hover {
    background: none repeat scroll 0 0 #f4f6f7;
    border-color: #dce2e8;
    color: #438eb9;
}
.angular-ui-tree-placeholder {
    background: none repeat scroll 0 0 #f0f9ff;
    border: 2px dashed #bed2db;
    box-sizing: border-box;
}
.group-title {
    background-color: #687074 !important;
    color: #fff !important;
}
